<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="/js/common.js"></script>
</head>

<script>

    getData();

    function getData() {

        // home server 에서 토큰값을 가져옴
        let callback = homeAjaxComm("/token", "get", "", "");
        callback.done((token) =>

        {
            let ajax = $.ajax({
                url: REST_API_URL + "/admin",
                type: "get",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("ACCESS-TOKEN", token.accessToken);
                    xhr.setRequestHeader("REFRESH-TOKEN", token.refreshToken);
                }
            });


            /**
             * ajax 통신의 경우 webClient 처럼 302(redirect) 처리를 해주지 않아도
             * rest api 서버 리다이렉션이 자동으로 이루어지므로 ajax.done()에서 콜백을 처리해주면 된다
             */

            ajax.done( res => {
                console.log(res);

                if (res.data.errCode) {
                    location.href='/denied';
                }
            })
        })


    }

</script>

<body>
<div class="container">
    <br><br>
    <H1>ADMIN PAGE</H1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="/admin">ADMIN PAGE</a>
                <a class="nav-link" href="/logout">LOGOUT</a>
            </div>
        </div>
    </nav>
</div>
</body>
</html>